@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
}

/* Tailwind font utilities for Google Fonts */
.font-quicksand {
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
}
.font-playfair {
  font-family: "Playfair Display", serif;
}
